  version: 2
  updates:
    - package-ecosystem: "uv"
      directory: "/"
      schedule:
        interval: "weekly"
      groups:
        dev-dependencies:
          dependency-type: "development"
          update-types:
            - "minor"
            - "patch"
        runtime-patches:
          dependency-type: "production"
          update-types:
            - "patch"
      open-pull-requests-limit: 5
